:root {
    padding: 2em;
}

section#home {
    display: flex;
    gap: 2em;
    article {
        display: flex;
        flex-direction: column;
        gap:10px;
        // background:red;
    }
}
.item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    div {
        display: flex;
        gap:10px;
    }
}

%template {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

table {
    border: 1px solid black;
    border-radius: 5px 10px;
    padding: 1rem;
    
    :where(thead, tbody) tr {
        th,td {
            @extend %template;
        }
    }
}